*{
  font-size: 20px;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-bottom: 40px;

}

.btn{
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #9c4f4f;
  color: white;
  cursor: pointer;
}

.btn:hover{
  background-color: #986e6e;
  color: white;
}

.btn:disabled, .btn-run:disabled{
  background-color: #cfcfcf;
  color: white;
  cursor: not-allowed;
}

.btn-run{
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #4f9c4f;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

.btn-run:hover{
  background-color: #6e986e;
  color: white;
}

.process-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.process-info input {
  margin-bottom: 10px;
}

#render-form {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.dispatcher-info input {
  margin-bottom: 10px;
}

.container-results{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#processInfo {
  width: 400px;
}

.img{
  width: 500px;
}

.table-wrapper{
  width: 100%;
  overflow-x: auto;

}

.wakeup-button{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #923b3b;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}
.btn-next{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #7cca7c;
  color: white;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 30px;
}

.input-text {
  padding: 10px;
  font-size: 20px;
  margin-top: 12px;
}

label {
  font-size: 20px;
}

.show-info-process-container{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#show-info-process th {
  padding: 10px 8px;
}

#show-info-process td{
  padding: 6px;
}

#traceContainer {
  width: 100%;
  display: flex;
  justify-content: space-around
}

.img-container{
  display: flex;
  flex-direction: row;
 justify-content: center;
}

.action-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}

.render-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  gap: 50px;
}